
<% if !current_user.nil? and current_user.admin? %>
<h1>Admin</h1>
  <% @users.each do |user| %>
    <p>User: <%=link_to user.email, user %> Role: <%= user.role unless user.role.nil? %></p>
  <% end %>
<% else %>
	<h1>Sorry you're no admin here.</h1>
<% end %>