<h1>Latest Podcast Feeds</h1>


<section class="clearfix row">

	<section class="col-md-8" >
	<input ng-model="query" placeholder="Search feeds...">
		<div ng-controller="PodcastListCtrl">
	     <ul class="feeds">
	      <li ng-repeat="feed in feeds | startFrom:currentPage*pageSize | limitTo:pageSize" class="row">
	      	<h3>
		      	<a href="/feeds/{{feed.slug}}" data-method="post" class="" >
		      		<img src="{{feed.image}}" width="75px" class="img-circle pull-left col-md-2" >
		      	</a>
		      	<a href="/feeds/{{feed.slug}}" data-method="post" class="" >
		      	 {{feed.title }}
		      	 </a> 
	      	 </h3>

	        <p>{{ feed.description | limitTo:letterLimit }}</p>
        	  <label class="label label-success">
				      	 <i class="icon icon-white icon-info" ></i>
				      	 <ng-pluralize count="{{ feed.plays }}"
			                when="{'0': 'No plays yet.',
			                       'one': '1 play',
			                       'other': '{} plays'}">
	      	 </label>
	        <label class="label label-info pull-right" >
	        	<a href="/category?category={{feed.category}}" class="" >{{ feed.category }}</a>
        	</label>
	      </li>
	    </ul>
	    <br/>
	    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
	        Previous
	    </button>
	    {{currentPage+1}}/{{numberOfPages()}}
	    <button ng-disabled="currentPage >= feeds.length/pageSize - 1" ng-click="currentPage=currentPage+1">
	        Next
	    </button>
	  </div>

	</section>


	<section class="col-md-8" >
		
		
	</section>


</section>

<br/>
<br/>


<script type="text/javascript">
  podcastApp.controller('PodcastListCtrl', function ($scope, $timeout) {

  var podcasts = "<%=j @feeds.to_json.html_safe %>";
  console.log(eval('{' + podcasts + '}'));

  var data = eval('{' + podcasts + '}');
  $scope.letterLimit = 100;
  $scope.currentPage = 0;
  $scope.pageSize = 5;
  $scope.feeds = data;
  $scope.numberOfPages=function(){
        return Math.ceil($scope.feeds.length/$scope.pageSize);                
    }
    for (var i=0; i<45; i++) {
        $scope.feeds.push("Item "+i);
    }

  });


podcastApp.filter('startFrom', function() {
    return function(input, start) {
        start = +start; //parse to int
        return input.slice(start);
    }
});




</script>