/* Amelia
 * Bootswatch
 *= require_self
 *= require framework_and_overrides
 *= require amelia/loader
 *= require amelia/bootswatch
 *= require feeds
*/


#leaderboard div.google-dfp, .mpu {
	margin: 5px auto;
}

ul.shows, ul.feeds {
	margin: 0px !important;
	padding: 0px !important;
}

li {
	list-style:none;
}

.navbar-inverse .navbar-inner {
	background: black !important;
}

div.jp-audio {
width: 100% !important;
}

.jp-current-time, .jp-duration {
	padding: 5px 20px;
}

.jp-progress {
	left: 150px !important;
	width: 65% !important;
}

div.jp-audio div.jp-volume-bar {
left: 82% !important;
}

a.jp-mute {
	position: absolute !important;
	right: 210px !important;
	margin-right: 0px !important;
}

.jp-volume-bar, .a.jp-unmute {
	width: 100px !important;
}

div.jp-audio a.jp-volume-max {
	position: absolute !important;
	right: 85px !important;
	}

.feed {
	margin-bottom: 100px
}	


.label a {
	color: white !important;
}

.label a:hover {
	background-color: transparent;
	color: white !important;
}